# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Maven specific
target/

# Logs y temporales
*.log
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db
